/*
	red: #d90000
	dkgray: #252525
	mdgray: #5a5a5a
	ltgray: #c0c0c0
*/

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

::-webkit-input-placeholder { color: #5a5a5a; }
:-moz-placeholder { color: #5a5a5a; }
::-moz-placeholder { color: #5a5a5a; }
:-ms-input-placeholder { color: #5a5a5a; }

html {
	
}

body {
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
	background: black;
	color: white;
}

a, a:hover, a:visited, a:active {
	color: white;
	cursor: pointer;
	border-bottom: 1px solid #d90000;
	padding-bottom: 1px;
	text-decoration: none;
}

h1 > img {
	display: block;
	width: 100%;
	max-width: 24rem;
	height: auto;
	margin: 0 auto;
}

h1 > span {
	visibility: hidden;
}

form {
	margin: 0 auto 1.618rem;
	max-width: 24rem;
}
form input {
	font-size: 1.618rem;
	font-family: 'Oswald', sans-serif;
	border: none;
	background: transparent;
	color: white;
}
form input:focus {
	border-left-color: #d90000;
}

form input,
ul.members > li.member {
	padding-left: 1.618rem;
	border-left: 1.618rem solid #252525;
	margin-left: 1.618rem;
}

ul.members {
	margin: 0 auto 1.618rem;
	max-width: 24rem;
}
ul.members > li.member {
	color: #c0c0c0;
	margin-bottom: 1.618rem;
}
ul.members > li.member > h3 {
	font-size: 1.618rem;
	cursor: pointer;
}
ul.members > li.member.expanded-true {
	border-left-color: #d90000;
}
ul.members > li.member.expanded-true > h3 {
	color: white;
}
ul.members > li.member > .details {
	padding: 1rem;
}
ul.members > li.member > .details > .detail {
	display: block;
	margin-bottom: 1rem;
	line-height: 1.3rem;
}
ul.members > li.member > .details > .detail.minor {
	color: #5a5a5a;
}